@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    background: #0f0c0f;
}

.App {
    padding: 0 10px;
    color: #e5f7e5;
    font-family: 'Roboto', sans-serif;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.photo-div {
    flex-grow: 18%;
    width: 18%;
    height: 18vw;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 3px;
    transition: 0.5s;
    background: #221c22;
}

@media (max-width: 1200px) {
    .photo-div {
        flex-grow: 22%;
        width: 22%;
        height: 22vw;
    }
}
@media (max-width: 1000px) {
    .photo-div {
        flex-grow: 30%;
        width: 30%;
        height: 30vw;
    }
}
@media (max-width: 800px) {
    .photo-div {
        flex-grow: 45%;
        width: 45%;
        height: 45vw;
    }
}
@media (max-width: 600px) {
    .photo-div {
        flex-grow: 90%;
        width: 90%;
        height: 90vw;
    }
}

.photo-div:hover {
    opacity: 0.7;
    cursor: pointer;
    transform: scale(1.05);
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-info {
    display: flex;
    margin-bottom: 10px;
    max-width: 90vw;
}

.photo-info img {
    max-height: calc(100vh - 175px);
    max-width: 100%;
}

.photo-info button {
    height: 40px;
}

.tags {
    margin-right: 20px;
}

.tags ul {
    max-height: 60vh;
    overflow-y: auto;
}

.inputs {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px) {
    .inputs {
        justify-content: space-between;
    }
    .header-input-item {
        max-width: 200px;
    }
}

.header-input-item {
    align-self: flex-end;
}

.sticky {
    z-index: 1;
    position: sticky;
    top: 0;
    background: #0f0c0f;
    height: 160px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
}

.text-input {
    max-width: 100px;
}

input {
    margin-bottom: 5px;
}

.p-right-sm {
    padding-right: 5px;
}

.m-right-sm {
    margin-right: 5px;
}

.m-left-md  {
    margin-left: 15px;
}

.header {
    text-align: center;
    font-variant: small-caps;
}

.header-title {
    font-size: 3em;
    margin: 0;
}

.header-subtitle {
    margin: 10px;
}
